- name: myapp
  path: ~/Projects/myapp
  domain: http://www.devmyapp.com
  port: 3000
  s: rails server -p 3000
  t: bundle exec rake test
  t_w1arg: ruby -I test PARAM1
  t_w2arg: ruby -I test PARAM1 -n /PARAM2/

